@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f8fc;
}


/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Adjust scrollbar width */
  height: 3px; /* Adjust horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Use thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
